asgiref==3.6.0
beautifulsoup4==4.12.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==40.0.2
defusedxml==0.7.1
Django==4.2.1
django-bootstrap==0.2.4
django-bootstrap-datepicker==1.4.0
django-bootstrap-datepicker-plus==5.0.3
django-bootstrap-v5==1.0.11
django-bootstrap4==23.1
django-bootstrap5==23.1
django-crispy-forms==2.0
django-datetimepicker==3.14
django-jquery==3.1.0
django-recaptcha==3.0.0
django-tempus-dominus==5.1.2.17
fontawesomefree==6.4.0
googlemaps==4.10.0
idna==3.4
install==1.3.5
oauthlib==3.2.2
Pillow==9.5.0
pycparser==2.21
pydantic==1.10.9
PyJWT==2.7.0
python3-openid==3.2.0
pytz==2023.3
requests==2.30.0
requests-oauthlib==1.3.1
social-auth-app-django==5.2.0
social-auth-core==4.4.2
soupsieve==2.4.1
sqlparse==0.4.4
stripe==2.55.1
typing_extensions==4.6.3
urllib3==2.0.2
