{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
       <div class="col-lg-4">
          <div class="card">
             <div class="card-body">
                <h4 class="text-center text-uppercase mb-3">
                    <b>Passenger</b>
                </h4>
                <form method="POST" >
                  {% csrf_token %}
                  <form method="post">
                     {% csrf_token %}
                     {% bootstrap_form form %}
                     <div class="d-grid gap-2">
                       <a class="btn btn-warning btn-block" href="{% url 'passenger:profile'%}" type="submit">Log in</a>
                     </div>
                     <p class="text-center mt-3">New to TaxiPal?
                       <a href="/sign-up/?next=/passenger/"><b>Sign Up</b></a>
                     </p>
                   </form>
             </div>
          </div>
       </div>
    </div>
 </div>

{% endblock %}