

<style>

.bottom-tabs {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
}

.bottom-tabs ul.pagination {
    justify-content: space-around;
}

.bottom-tabs li.page-item {
    display: flex;
    align-items: center;
}

.bottom-tabs li.page-item a.page-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #6c757d;
}

.bottom-tabs li.page-item a.page-link:hover {
    color: #000;
}

.bottom-tabs li.page-item.active a.page-link {
    color: #000;
    font-weight: bold;
}
.bottom-tabs li.page-item a.page-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #6c757d;
    border: none;
    padding: 0;
}


.bottom-tabs li.page-item a.page-link:hover i {
    color: #555; /* Set the desired hover color for the icons */
}
.bottom-tabs li.page-item.active a.page-link i.fa-house {
    color: #333;
}

.bottom-tabs li.page-item a.page-link:hover i {
    color: #999;
}
.bottom-tabs li.page-item a.page-link:focus {
    outline: none; 
}




</style>

<nav aria-label="Bottom Tabs" class="bottom-tabs">
    <ul class="pagination pagination-lg">
        <li class="page-item " aria-current="page">
            <a class="page-link" href="#">
                <i class="fa-solid fa-house"></i>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{% url 'driver:trip-view'%}">
                <span class="badge bg-danger rounded-circle">
                    {% if trips_to_views %}
                        {{ trips_to_views|length }}
                    {% endif %}
                </span> 
                <i class="fas fa-archive"></i>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">
                <i class="fas fa-user"></i>
            </a>
        </li>
    </ul>
</nav>