<!DOCTYPE html>
<html>

<head>
  <title>Trip View</title>
  <!-- Include required libraries -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-********" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css">

  <!-- Custom CSS -->
  <style>
    .custom-modal {
      max-width: 800px;
      margin: 0 auto;
    }

    .custom-modal .modal-body {
      padding: 20px;
    }

    .custom-modal .map-container {
      height: 400px;
    }

    .custom-modal .accept-btn {
      background-color: green;
      color: white;
      float: right;
      margin-top: 10px;
    }
    .view-details-btn  {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
    .card {
      box-shadow:   0 0 5px rgba(0, 0, 0, 0.1);
    }
    
    
  </style>
</head>

<body>
  <div class="container p-4">
    <hr>

    <!-- Loop through trips and display as cards -->
    {% for trip in trips_to_views %}
    <div class="card p-0 mb-2">
      <div class="card-body   row">
        <div class="card-body column">
        <h5 class="card-title fw-bold">{{ trip.pickup_address }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ trip.dropoff_address }}</h6>
        </div>
        <div class="text-end ">
          <button class="btn view-details-btn float-end mt-4" data-toggle="modal" data-target="#customModal"
            data-pickup-lat="{{ trip.pickup_lat }}" data-pickup-lng="{{ trip.pickup_lng }}"
            data-dropoff-lat="{{ trip.dropoff_lat }}" data-dropoff-lng="{{ trip.dropoff_lng }}"
            data-pickup-address="{{ trip.pickup_address }}" data-dropoff-address="{{ trip.dropoff_address }}"
            data-distance="{{ trip.trip_distance }}" data-description="{{ trip.description }}">
            <i class="fa-solid fa-circle-arrow-right"></i> View Details
          </button>
        </div>
      </div>
    </div>
    
    {% endfor %}

    <!-- Custom Modal -->
    <div class="modal fade custom-modal" id="customModal" tabindex="-1" role="dialog" aria-labelledby="customModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="customModalLabel">Trip Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h6>Pickup Address: <span id="modal-pickup-address"></span></h6>
            <h6>Dropoff Address: <span id="modal-dropoff-address"></span></h6>
            <h6>Distance: <span id="modal-distance"></span></h6>
            <h6>Description: <span id="modal-description"></span></h6>
            <div class="map-container" id="modal-map"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success accept-btn">Accept</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Custom JavaScript -->
  <script>
    $(document).ready(function() {
      // Initialize Google Maps
      var map;
      var directionsDisplay;
    
      function initMap() {
        map = new google.maps.Map(document.getElementById('modal-map'), {
          zoom: 12,
          disableDefaultUI: true, // Disable default map controls
          gestureHandling: 'none', // Disable map gestures
          styles: [{
            featureType: 'poi',
            stylers: [{
              visibility: 'off'
            }]
          }, {
            featureType: 'road',
            stylers: [{
              visibility: 'off'
            }]
          }, {
            featureType: 'transit',
            stylers: [{
              visibility: 'off'
            }]
          }]
        });
    
        directionsDisplay = new google.maps.DirectionsRenderer({
          suppressMarkers: true,
          preserveViewport: true,
          map: map,
          polylineOptions: {
            strokeColor: '#0000FF', // Route color (blue)
            strokeOpacity: 1.0,
            strokeWeight: 3
          }
        });
      }
    
      // Open custom modal and populate with trip details on button click
      $('.view-details-btn').on('click', function() {
        var pickupLat = $(this).data('pickup-lat');
        var pickupLng = $(this).data('pickup-lng');
        var dropoffLat = $(this).data('dropoff-lat');
        var dropoffLng = $(this).data('dropoff-lng');
        var pickupAddress = $(this).data('pickup-address');
        var dropoffAddress = $(this).data('dropoff-address');
        var distance = $(this).data('distance');
        var description = $(this).data('description');
    
        // Set modal address values
        $('#modal-pickup-address').text(pickupAddress);
        $('#modal-dropoff-address').text(dropoffAddress);
    
        // Set modal distance value
        $('#modal-distance').text(distance + ' Km');
    
        // Set modal description value
        $('#modal-description').text(description);
    
        // Clear previous directions if any
        directionsDisplay.setDirections({ routes: [] });
    
        // Update Google Maps with new route
        var request = {
          origin: new google.maps.LatLng(pickupLat, pickupLng),
          destination: new google.maps.LatLng(dropoffLat, dropoffLng),
          travelMode: google.maps.TravelMode.DRIVING
        };
    
        var directionsService = new google.maps.DirectionsService();
        directionsService.route(request, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
    
            // Adjust map bounds to show only the route
            var bounds = new google.maps.LatLngBounds();
            var route = response.routes[0];
            for (var i = 0; i < route.legs.length; i++) {
              bounds.extend(route.legs[i].start_location);
              bounds.extend(route.legs[i].end_location);
            }
            map.fitBounds(bounds);
            map.setCenter(bounds.getCenter());
            map.setZoom(12); // Set the desired zoom level
          }
        });
    
        // Open the custom modal
        $('#customModal').modal('show');
      });
    
      // Event listener for modal close button
      $('#customModal').on('hidden.bs.modal', function() {
        map.setZoom(12); // Set the desired zoom level
      });
    
      // Initialize Google Maps on page load
      initMap();
    });
    
    
  </script>

  <!-- Google Maps API -->
  <script
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANA9ozNn4mr7ljTh97_4jgeeryhi5tsio&callback=initMap&libraries=places&v=weekly"
   defer
   ></script>
</body>

</html>
