{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container bg-light mb-4 pt-3 pb-3">
    <div class="row">
        <div class="col-lg-4">
           <div class="text-center">
            <img src="{% if request.user.passenger.profile_photo %}{{ request.user.passenger.profile_photo.url }}{% else %}{% static 'images/avatar.png'%}{% endif %}" class="rounded-circle mb-2" alt="avatar-image" width="100" height="100">
            <h4>{{ request.user.get_full_name }}</h4>
            <p>{{ request.user.email }}</p>
           </div>
           <ul class="list-group">
            <li class="list-group-item">Book a Taxi</li>
            <li class="list-group-item">My Bookings</li>
            <li class="list-group-item">Profile Information</li>
            <li class="list-group-item">Payments Details</li>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Successful</strong> {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            </ul>

        </div>

        <div class="col-lg-8 mt-3">
            {% block main %}

            {% endblock %}
        </div>
    </div>
</div>

  <link rel="stylesheet" href="//unpkg.com/bootstrap-select@1.12.4/dist/css/bootstrap-select.min.css" type="text/css" />
  <link rel="stylesheet" href="//unpkg.com/bootstrap-select-country@4.0.0/dist/css/bootstrap-select-country.min.css" type="text/css" />

  <script src="//unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
  <script src="//unpkg.com/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
  <script src="//unpkg.com/bootstrap-select@1.12.4/dist/js/bootstrap-select.min.js"></script>
  <script src="//unpkg.com/bootstrap-select-country@4.0.0/dist/js/bootstrap-select-country.min.js"></script>

{% endblock content %}