{% extends 'passenger/base.html' %}
{% load bootstrap5 %}
{% block head %}
<script
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANA9ozNn4mr7ljTh97_4jgeeryhi5tsio&callback=initMap&libraries=places&v=weekly"
   defer
   ></script>
<style>
   #myTab button {
   color: black;
   }
   #myTab button:hover {
   color:#f0ad4e;
   text-decoration: none !important
   }
   #myTab button.active {
   color:#f0ad4e;
   }
   #pickup-map{
    height: 100%;
   }

</style>
{% endblock %}
{% block content %}
<div class="container mt-4">
  <div class="row">
    <!--LEFT SIDE-->
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-header">
          TRIP SUMMARY
        </div>
        <div class="card-body">
          <p> A summary of your trip will appear here.</p>
        </div>
      </div>
    </div>
    <!--RIGHT SIDE-->
    <div class="col-lg-8">
      <!-- STEP TABS -->
      <div class="card mb-4">
        <div class="card-body">
          <ul class="nav nav-tabs nsv-justified align-items-center mb3" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pickup-tab" data-bs-toggle="tab" data-bs-target="#pickup-tab-pane" type="button" role="tab"
                aria-controls="pickup-tab-pane" aria-selected="false">Book a Taxi</button>
            </li>
            {% comment %} <li class="nav-item" role="presentation">
              <button class="nav-link" id="details-tab" data-bs-toggle="tab" data-bs-target="#details-tab-pane" type="button" role="tab" a
                ria-controls="details-tab-pane" aria-selected="true">Trip Details</button>
            </li> {% endcomment %}
          </ul>
        </div>
      </div>
      <!-- STEP FORMs-->

            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade  show active" id="pickup-tab-pane" role="tabpanel" aria-labelledby="pickup-tab" tabindex="0">
                <h3>
                  Let's book you a Taxi :
                  <i class="fa-solid fa-taxi ms-3"></i>
                </h3>
                <hr class="border border-warning border-3 opacity-100">
                <!-- Taxi Booking Form-->
                <form method="POST"  class="mt-3">
                  <div class="card bg-white mt-2 mb-5" height="100vh">
                    <div class="card-body">
                      <div class="container">
                        <div class="row">
                          <div class="col-6">
                            {% csrf_token %}
                            {% bootstrap_form pickup_form exclude='pickup_lat,pickup_lng,dropoff_lat,dropoff_lng' %}
                            <input type="hidden" id="pickup-lng" name="pickup_lng" value="{{ taxi.pickup_lng }}">
                            <input type="hidden" id="pickup-lat" name="pickup_lat" value="{{ taxi.pickup_lat }}">
                            <input type="hidden" id="dropoff-lng" name="dropoff_lng" value="{{ taxi.dropoff_lng }}">
                            <input type="hidden" id="dropoff-lat" name="dropoff_lat" value="{{ taxi.dropoff_lat }}">
                          </div>
                          <div class="col-6">
                            <div id="pickup-map"></div>
                            <div id="infowindow-content">
                              <span id="place-name" class="title"></span><br />
                              <span id="place-address"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="card p-3">
                    <b class="p-2 ">
                      Your Payment Method<a href="{% url 'passenger:payment-method' %}" class="link-danger float-end link-opacity-10 link-offset-2 link-underline-opacity-20 link-underline-opacity-10-hover">
                      <i class="ms-5  fa-solid fa-pen-to-square"></i></a>
                      <hr class="border border-warning border-3 opacity-50">
                    </b>
                    <div class="card-body" >
                      {% if request.user.passenger.stripe_payment_method_id %}
                      <div id="change-card" class="input-group">
                        <input type="text" class="form-control"
                          disabled value=" **** **** **** {{ request.user.passenger.stripe_card_last4 }}">
                        <div class="input-group-append">
                </div>
                </div>
                {% endif %}
                </div>
                </div>
                <input type="hidden" name="booking-info" value="1">
                <button class="btn btn-warning mt-4" type="submit" >Continue</button>
                </form>
              </div>
              <!-- Payment Method-->
              <!-- Trip Details Tab-->
             <div class="tab-pane fade  " id="details-tab-pane" role="tabpanel" aria-labelledby="details-tab" tabindex="0">
                <h3>
                  Trip Details
                  <i class="fa-solid ms-3 fa-lg fa-circle-info"></i>
                </h3>
                <hr class="border border-warning border-3 opacity-100">
              </div>
            </div>
    </div>
  </div>
</div>
<!-- GOOGLE MAP JAVASCRIPT-->
<script>
  var pickupLat = parseFloat('{{ taxi.pickup_lat }}');
  var pickupLng = parseFloat('{{ taxi.pickup_lng }}');
  var dropoffLat = parseFloat('{{ taxi.dropoff_lat }}');
  var dropoffLng = parseFloat('{{ taxi.dropoff_lng }}');

  function initMap() {
    const map = new google.maps.Map(document.getElementById("pickup-map"), {
      center: { lat: 40.749933, lng: -73.98633 },
      zoom: 13,
      mapTypeControl: false,
    });

    const pickupInput = document.getElementById("id_pickup_address");
    const dropoffInput = document.getElementById("id_dropoff_address");
    const pickupLatInput = document.getElementById("pickup-lat");
    const pickupLngInput = document.getElementById("pickup-lng");
    const dropoffLatInput = document.getElementById("dropoff-lat");
    const dropoffLngInput = document.getElementById("dropoff-lng");
    const distanceOutput = document.getElementById("distance-output");

    const options = {
      fields: ["formatted_address", "geometry", "name"],
      strictBounds: false,
      types: ["establishment"],
    };

    const pickupAutocomplete = new google.maps.places.Autocomplete(pickupInput, options);
    const dropoffAutocomplete = new google.maps.places.Autocomplete(dropoffInput, options);

    pickupAutocomplete.bindTo("bounds", map);
    dropoffAutocomplete.bindTo("bounds", map);

    const directionsService = new google.maps.DirectionsService();
    const directionsRenderer = new google.maps.DirectionsRenderer({ map: map });

    pickupAutocomplete.addListener("place_changed", () => {
      const place = pickupAutocomplete.getPlace();
      if (!place.geometry) return;

      pickupLatInput.value = place.geometry.location.lat();
      pickupLngInput.value = place.geometry.location.lng();
      calculateDistance();
    });

    dropoffAutocomplete.addListener("place_changed", () => {
      const place = dropoffAutocomplete.getPlace();
      if (!place.geometry) return;

      dropoffLatInput.value = place.geometry.location.lat();
      dropoffLngInput.value = place.geometry.location.lng();
      calculateDistance();
    });

    function calculateDistance() {
      const pickupLat = parseFloat(pickupLatInput.value);
      const pickupLng = parseFloat(pickupLngInput.value);
      const dropoffLat = parseFloat(dropoffLatInput.value);
      const dropoffLng = parseFloat(dropoffLngInput.value);

      if (isNaN(pickupLat) || isNaN(pickupLng) || isNaN(dropoffLat) || isNaN(dropoffLng)) {
        return;
      }

      const pickupLocation = new google.maps.LatLng(pickupLat, pickupLng);
      const dropoffLocation = new google.maps.LatLng(dropoffLat, dropoffLng);

      const request = {
        origin: pickupLocation,
        destination: dropoffLocation,
        travelMode: google.maps.TravelMode.DRIVING,
      };

      directionsService.route(request, (response, status) => {
        if (status === google.maps.DirectionsStatus.OK) {
          directionsRenderer.setDirections(response);
          const route = response.routes[0];
          const distance = route.legs[0].distance.text;
          distanceOutput.innerHTML = `Distance: ${distance}`;
        } else {
          distanceOutput.innerHTML = "Unable to calculate the distance.";
        }
      });
    }
  }

  window.initMap = initMap;
</script>


{% endblock %}
