<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    {% load static %}

    {% block head %}{% endblock %}
</head>

<body>
      <nav id="navbar-container"  class="navbar  navbar-light{% if not request.user.is_authenticated %} navbar-expand-xl {% endif %}{% if not request.user.is_authenticated %} navbar-expand-xl {% endif %} bg-warning">
        <a class="navbar-brand fs-4 fw-bolder ms-5" id="nav-logo" href="/">Taxi Pal</a>
        {% if not request.user.is_authenticated %}
        {% else %}
         <form action="form-inline">
            <img src="{% if request.user.passenger.profile_photo %}{{ request.user.passenger.profile_photo.url }}{% else %}{% static 'images/avatar.png'%}{% endif %}" class="rounded-circle me-2" alt="avatar-image" width="50" height="50">
            <span class="me-4 fw-bold ">{{ request.user.get_full_name|title }}</span>
            <a href="/logout/" class=" btn me-4 btn-dark">Logout</a>
         </form>
   {% endif %}
      </nav>

   {% block content %}{% endblock %}
    <footer class="mt-5 mb-5 text-center "> &copy;Taxipal.ie </footer>


</body>

</html>