{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
       <div class="col-lg-4">
          <div class="card">
             <div class="card-body">
                <h4 class="text-center text-uppercase mb-3">
                     {% if  not request.GET.next == '/driver/' %}
                    <b>Passenger</b>
                     {% else %}
                     <b>driver</b>
                     {% endif %}
                </h4>
                <form method="POST" >
                   {% csrf_token %}
                   {% bootstrap_form_ form %}
                   <button class="btn btn-warning btn-block" type="submit" >Sign Up</button>
                   <p class="text-center mt-3">Already have an account?
                    <a href="/sign-up/?next={{request.GET.next}}"></a>
                   </p>
                </form>
             </div>
          </div>
       </div>
    </div>
 </div>

{% endblock %}