{% extends 'base.html' %}

{% block head %}
<style>
    body {
        background-color: #ffc107;
    }

    .section-welcome {
        text-align: center;
        padding: 50px 0;
    }

    .fade-in {
        animation: fade-in 1s ease-in-out;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .card {
        width: 300px;
        border: none;
        background-color: white;
        transition: transform 0.3s ease-in-out;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ffc107;
    }

    .btn {
        background-color: black;
        color: white;
        width: 100%;
        padding: 12px 20px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 4px;
        margin-bottom: 10px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    }

    .btn:hover {
        transform: scale(1.02);
    }

    .fade-in-left {
        animation: slide-in-left 1s ease-in-out;
    }

    @keyframes slide-in-left {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        80% {
            transform: translateX(10%);
            opacity: 1;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }





</style>
{% endblock %}

{% block content %}

<section class="section-welcome">
    <div class="clo-lg-12 text-center mt-5">
        <h1 id="welcome-text" class="text-uppercase smoke fade-in-left" style="color: black;">Welcome to Taksy</h1>
    </div>
</section>

<div class="container">
    <div class="card fade-in">
        <a href="{% url 'passenger:profile' %}" class="btn btn-warning">Passenger login</a>
        <a class="btn btn-warning" href="{% url 'sign-up' %}">Create an account</a>
    </div>
</div>
{% endblock %}



